---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Projects from '../../components/Projects.astro'; 
import { Image } from 'astro:assets';


export async function getStaticPaths() {
	const projects = await getCollection('projects');
	return projects.map((project:any) => ({
		params: { project: project.id },
		props: project,
	}));
}
type Props = CollectionEntry<'projects'>;


const project = Astro.props;
const { Content } = await render(project);





---
<BaseLayout>
  <div id="smooth-wrapper">
    <div id="smooth-content">
      <main id="primary" class="site-main">
        <div class="space-for-header"></div>
        <!-- start: Breadcrumb Section -->
        <section class="tj-page-header section-gap-x" data-bg-image="assets/images/bg/pheader-bg.webp">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="tj-page-header-content text-center">
                  <h1 class="tj-page-title">{project.data.name }</h>                                                  
                  <div class="tj-page-link">
                    <span><i class="tji-home"></i></span>
                    <span>
                      <a href="index.html">Home</a>
                    </span>
                    <span><i class="tji-arrow-right"></i></span>                                                              
                    <span>
                      <span>Portfolio Details</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="page-header-overlay" data-bg-image="assets/images/shape/pheader-overlay.webp"></div>
        </section>
        <!-- end: Breadcrumb Section -->

        <!-- start: Blog Section -->
        <section class="tj-blog-section section-gap slidebar-stickiy-container">
          <div class="container">
            <div class="row row-gap-5">
              <div class="col-lg-8">
                <div class="post-details-wrapper">
                  <div class="blog-images wow fadeInUp" data-wow-delay=".1s">
                    <img src="assets/images/project/project-details.webp" alt="Images">
                  </div>
                  <h2 class="title title-anim">{project.data.descriptionHeader}</h2>
                  <div class="blog-text">
                    <p class="wow fadeInUp" data-wow-delay=".3s">{project.data.description}</p>
                  
                    <h3 class="wow fadeInUp" data-wow-delay=".3s">{project.data.overviewHeader}</h3>
                    <p class="wow fadeInUp" data-wow-delay=".3s">{project.data.overview}</p>
                    <ul class="wow fadeInUp" data-wow-delay=".3s">
                      {project.data.overviewFeatures && project.data.overviewFeatures.map((feature) => (
                        <li><span><i class="tji-check"></i></span>{feature}</li>
                      ))}
                
                
                    </ul>
                    <h3 class="wow fadeInUp" data-wow-delay=".3s">{project.data.galleryHeader}</h3>
                    <p class="wow fadeInUp" data-wow-delay=".3s">{project.data.galleryDescription}</p>
                    <div class="images-wrap">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="image-box wow fadeInUp" data-wow-delay=".3s">
                            <a class="gallery" data-gall="gallery"
                              href="assets/images/project/project-gallery-1.webp"><img
                                src="assets/images/project/project-gallery-1.webp" alt="Image"></a>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="image-box wow fadeInUp" data-wow-delay=".3s">
                            <a class="gallery" data-gall="gallery"
                              href="assets/images/project/project-gallery-2.webp"><img
                                src="assets/images/project/project-gallery-2.webp" alt="Image"></a>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="image-box wow fadeInUp" data-wow-delay=".5s">
                            <a class="gallery" data-gall="gallery"
                              href="assets/images/project/project-gallery-3.webp"><img
                                src="assets/images/project/project-gallery-3.webp" alt="Image"></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tj-post__navigation mb-0 wow fadeInUp" data-wow-delay=".3s">
                    <!-- previous post -->
                    <div class="tj-nav__post previous">
                      <div class="tj-nav-post__nav prev_post">
                        <a href="portfolio-details.html"><span><i class="tji-arrow-left"></i></span>Previous</a>
                      </div>
                    </div>
                    <div class="tj-nav-post__grid">
                      <a href="portfolio.html"><i class="tji-window"></i></a>
                    </div>
                    <!-- next post -->
                    <div class="tj-nav__post next">
                      <div class="tj-nav-post__nav next_post">
                        <a href="portfolio-details.html">Next<span><i class="tji-arrow-right"></i></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="tj-main-sidebar slidebar-stickiy">
                  <div class="tj-sidebar-widget widget-categories wow fadeInUp" data-wow-delay=".1s">
                    <h4 class="widget-title">Project Info</h4>
                    <div class="infos-item">
                      <div class="project-icons">
                        <i class="tji-user"></i>
                      </div>
                      <div class="project-text">
                        <span>Client</span>
                        <h6 class="title">{project.data.client}</h6>
                      </div>
                    </div>
                    <div class="infos-item">
                      <div class="project-icons">
                        <i class="tji-budget"></i>
                      </div>
                      <div class="project-text">
                        <span>Budget</span>
                        <h6 class="title">{project.data.budget}</h6>
                      </div>
                    </div>
                    <div class="infos-item">
                      <div class="project-icons">
                        <i class="tji-location-2"></i>
                      </div>
                      <div class="project-text">
                        <span>Location</span>
                        <h6 class="title">{project.data.location}</h6>
                      </div>
                    </div>
                    <div class="infos-item">
                      <div class="project-icons">
                        <i class="tji-chart"></i>
                      </div>
                      <div class="project-text">
                        <span>Sector</span>
                        <h6 class="title">{project.data.sector}</h6>
                      </div>
                    </div>
                    <div class="infos-item">
                      <div class="project-icons">
                        <i class="tji-calendar"></i>
                      </div>
                      <div class="project-text">
                        <span>Complete date</span>
                        <h6 class="title">{project.data.date}</h6>
                      </div>
                    </div>

                  </div>
                  <div class="tj-sidebar-widget widget-feature-item wow fadeInUp" data-wow-delay=".3s">
                    <div class="feature-box">
                      <div class="feature-content">
                        <h2 class="title">Modern</h2>
                        <span>Home Makeover</span>
                        <a class="read-more feature-contact" href="tel:8321890640">
                          <i class="tji-phone-3"></i>
                          <span>+8 (321) 890-640</span>
                        </a>
                      </div>
                      <div class="feature-images">
                        <img src="assets/images/service/service-ad.webp" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- end: Blog Section -->

        <!-- start: Cta Section -->
        <section class="tj-cta-section">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="cta-area">
                  <div class="cta-content">
                    <h2 class="title title-anim">Let’s Build Future Together.</h2>
                    <div class="cta-btn wow fadeInUp" data-wow-delay=".6s">
                      <a class="tj-primary-btn btn-dark" href="contact.html">
                        <span class="btn-text"><span>Get Started Now</span></span>
                        <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                      </a>
                    </div>
                  </div>
                  <div class="cta-img">
                    <img src="assets/images/cta/cta-bg.webp" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- end: Cta Section -->
      </main>

      <!-- start: Footer Section -->
      <footer class="tj-footer-section footer-1 section-gap-x">
        <div class="footer-main-area">
          <div class="container">
            <div class="row justify-content-between">
              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="footer-widget wow fadeInUp" data-wow-delay=".1s">
                  <div class="footer-logo">
                    <a href="index.html">
                      <img src="assets/images/logos/logo.webp" alt="Logos">
                    </a>
                  </div>
                  <div class="footer-text">
                    <p>Developing personalze our customer journeys to increase satisfaction & loyalty of our expansion.
                    </p>
                  </div>
                  <div class="award-logo-area">
                    <div class="award-logo">
                      <img src="assets/images/footer/award-logo-1.webp" alt="">
                    </div>
                    <div class="award-logo">
                      <img src="assets/images/footer/award-logo-2.webp" alt="">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="footer-widget widget-nav-menu wow fadeInUp" data-wow-delay=".3s">
                  <h5 class="title">Services</h5>
                  <ul>
                    <li><a href="#">Customer Experience</a></li>
                    <li><a href="#">Training Programs</a></li>
                    <li><a href="#">Business Strategy</a></li>
                    <li><a href="#">Training Program</a></li>
                    <li><a href="#">ESG Consulting</a></li>
                    <li><a href="#">Development Hub</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-2 col-lg-4 col-md-6">
                <div class="footer-widget widget-nav-menu wow fadeInUp" data-wow-delay=".5s">
                  <h5 class="title">Resources</h5>
                  <ul>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Team Member</a></li>
                    <li><a href="#">Recognitions</a></li>
                    <li><a href="careers.html">Careers <span class="badge">New</span></a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Feedback</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-4 col-lg-5 col-md-6">
                <div class="footer-widget widget-subscribe wow fadeInUp" data-wow-delay=".7s">
                  <h3 class="title">Subscribe to Our Newsletter.</h3>
                  <div class="subscribe-form">
                    <form action="#">
                      <input type="email" name="email" placeholder="Enter email">
                      <button type="submit"><i class="tji-plane"></i></button>
                      <label for="agree"><input id="agree" type="checkbox">Agree to our <a href="#">Terms &
                          Condition?</a></label>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tj-copyright-area">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="copyright-content-area">
                  <div class="footer-contact">
                    <ul>
                      <li>
                        <a href="tel:10095447818">
                          <span class="icon"><i class="tji-phone-2"></i></span>
                          <span class="text">+1 (009) 544-7818</span>
                        </a>
                      </li>
                      <li>
                        <a href="mailto:info@bexon.com">
                          <span class="icon"><i class="tji-envelop-2"></i></span>
                          <span class="text">info@bexon.com</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="social-links">
                    <ul>
                      <li><a href="https://www.facebook.com/" target="_blank"><i
                            class="fa-brands fa-facebook-f"></i></a>
                      </li>
                      <li><a href="https://www.instagram.com/" target="_blank"><i
                            class="fa-brands fa-instagram"></i></a>
                      </li>
                      <li><a href="https://x.com/" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
                      <li><a href="https://www.linkedin.com/" target="_blank"><i
                            class="fa-brands fa-linkedin-in"></i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="copyright-text">
                    <p>&copy; 2025 <a href="https://themeforest.net/user/theme-junction/portfolio"
                        target="_blank">Bexon</a>
                      All right reserved</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-shape-1">
          <img src="assets/images/shape/pattern-2.svg" alt="">
        </div>
        <div class="bg-shape-2">
          <img src="assets/images/shape/pattern-3.svg" alt="">
        </div>
      </footer>
      <!-- end: Footer Section -->
    </div>
  </div>

</BaseLayout>