---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import data from "../content/data.json";
import Footer from "../components/Footer.astro";
import { Icon } from 'astro-icon/components';


const reviews = await getCollection("reviews");

---




<BaseLayout >
     <div id="smooth-wrapper">
    <div id="smooth-content">
      <main id="primary" class="site-main">

        <div class="space-for-header"></div>
        <!-- start: Breadcrumb Section -->
        <section class="tj-page-header section-gap-x" data-bg-image={data.general.aboutUsImage}>
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="tj-page-header-content text-center">
                  <h1 class="tj-page-title">About Us</h1>
                  <div class="tj-page-link">
                    <span><i class="tji-home"></i></span>
                    <span>
                      <a href="index.html">Home</a>
                    </span>
                    <span><i class="tji-arrow-right"></i></span>
                    <span>
                      <span>About Us</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="page-header-overlay" data-bg-image="assets/images/shape/pheader-overlay.webp"></div>
        </section>
        <!-- end: Breadcrumb Section -->

        <!-- start: Choose Section -->
        <section id="choose" class="tj-choose-section section-gap">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="sec-heading-wrap">
                  <span class="sub-title wow fadeInUp" data-wow-delay=".3s"><i class="tji-box"></i>Choose the
                    Best</span>
                  <div class="heading-wrap-content">
                    <div class="sec-heading">
                      <h2 class="sec-title title-anim">{data.general.tagLine2part1} <span>{data.general.tagLine2part2}.</span></h2>
                    </div>
                    <div class="btn-wrap wow fadeInUp" data-wow-delay=".6s">
                      <a class="tj-primary-btn" href="contact.html">
                        <span class="btn-text"><span>Request a Call</span></span>
                        <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row row-gap-4 rightSwipeWrap">
              {data.about.benefits.map((benefit)=>(
                    <div class="col-lg-4">
                <div class="choose-box right-swipe">
                  <div class="choose-content">
                    <div class="choose-icon">
                          <Icon name={benefit.icon} size={50} class="text-blue-500 mr-2" />
                    </div>
                    <h4 class="title">{benefit.title}</h4>
                    <p class="desc">{benefit.description}</p>
                  </div>
                </div>
              </div>

              ))}
          
           
            </div>
          </div>
        </section>
        <!-- end: Choose Section -->

        <!-- start: About Section -->
        <section class="tj-about-section-2 section-gap section-gap-x">
          <div class="container">
            <div class="row">
              <div class="col-xl-6 col-lg-6 order-lg-1 order-2">
                <div class="about-img-area style-2 wow fadeInLeft" data-wow-delay=".3s">
                  <div class="about-img overflow-hidden">
                    <img data-speed=".8" src={data.general.aboutUsImage2} alt="">
                  </div>
                  <div class="box-area style-2">
                    <div class="progress-box wow fadeInUp" data-wow-delay=".3s">
                      <h4 class="title">Business Progress</h4>
                      <ul class="tj-progress-list">
                        <li>
                          <h6 class="tj-progress-title">Revenue</h6>
                          <div class="tj-progress">
                            <span class="tj-progress-percent">{data.about.progress.revenue}</span>
                            <div class="tj-progress-bar" data-percent="82">
                            </div>
                          </div>
                        </li>
                        <li>
                          <h6 class="tj-progress-title">Satisfaction</h6>
                          <div class="tj-progress">
                            <span class="tj-progress-percent">{data.about.progress.satisfaction}</span>
                            <div class="tj-progress-bar" data-percent="90">
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 order-lg-2 order-1">
                <div class="about-content-area">
                  <div class="sec-heading">
                    <span class="sub-title wow fadeInUp" data-wow-delay=".3s"><i class="tji-box"></i>Get to Know
                      Us</span>
                    <h2 class="sec-title title-anim">{data.about.header2}
                    </h2>
                  </div>
                </div>
                <div class="about-bottom-area">
                  <div class="mission-vision-box wow fadeInLeft" data-wow-delay=".5s">
                    <h4 class="title">Our Mission</h4>
                    <p class="desc">{data.about.mission.missionStatement}
                    </p>
                    <ul class="list-items">
                      {data.about.mission.list.map((item)=>(
                            <li><i class="tji-list"></i>{item}</li>
                      ))}
                  
                     
                    </ul>
                  </div>
                  <div class="mission-vision-box wow fadeInRight" data-wow-delay=".5s">
                    <h4 class="title">Our Vision</h4>
                    <p class="desc">{data.about.vision.visionStatement}
                    </p>
                    <ul class="list-items">
                      {data.about.vision.list.map((item)=>(
                            <li><i class="tji-list"></i>{item}</li>
                      ))}
                   
                    
                    </ul>
                  </div>
                </div>
                <div class="about-btn-area wow fadeInUp" data-wow-delay=".6s">
                  <a class="tj-primary-btn" href="about.html">
                    <span class="btn-text"><span>Learn More About Us</span></span>
                    <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-shape-1">
            <img src="assets/images/shape/pattern-2.svg" alt="">
          </div>
          <div class="bg-shape-2">
            <img src="assets/images/shape/pattern-3.svg" alt="">
          </div>
        </section>
        <!-- end: About Section -->

        <!-- start: Client Section -->
        <section class="tj-client-section client-section-gap-2 wow fadeInUp" data-wow-delay=".4s">
          <div class="container-fluid client-container">
            <div class="row">
              <div class="col-12">
                <div class="client-content">
                  <h5 class="sec-title">Join Over <span class="client-numbers">1000+</span> Companies with
                    <span class="client-text">Bexon</span> Here
                  </h5>
                </div>
                <div class="swiper client-slider client-slider-1">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide client-item">
                      <div class="client-logo">
                        <img src="assets/images/brands/brand-1.webp" alt="">
                      </div>
                    </div>
                    <div class="swiper-slide client-item">
                      <div class="client-logo">
                        <img src="assets/images/brands/brand-2.webp" alt="">
                      </div>
                    </div>
                    <div class="swiper-slide client-item">
                      <div class="client-logo">
                        <img src="assets/images/brands/brand-3.webp" alt="">
                      </div>
                    </div>
                    <div class="swiper-slide client-item">
                      <div class="client-logo">
                        <img src="assets/images/brands/brand-4.webp" alt="">
                      </div>
                    </div>
                    <div class="swiper-slide client-item">
                      <div class="client-logo">
                        <img src="assets/images/brands/brand-5.webp" alt="">
                      </div>
                    </div>
                    <div class="swiper-slide client-item">
                      <div class="client-logo">
                        <img src="assets/images/brands/brand-6.webp" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- end: Client Section -->

        <!-- start: Testimonial Section -->
        <section class="tj-testimonial-section-2 section-bottom-gap">
          <div class="container">
            <div class="row row-gap-3">
              <div class="col-lg-6 order-lg-2">
                <div class="testimonial-img-area wow fadeInUp" data-wow-delay=".3s">
                  <div class="testimonial-img">
                    <img src="assets/images/testimonial/testimonial-img.webp" alt="">
                    <div class="sec-heading style-2">
                      <h2 class="sec-title title-anim">Hear from Our <span>Customer.</span></h2>
                    </div>
                  </div>
                  <div class="box-area">
                    <div class="rating-box wow fadeInUp" data-wow-delay=".5s">
                      <h2 class="title">4.9</h2>
                      <div class="rating-area">
                        <div class="star-ratings">
                          <div class="fill-ratings" style="width: 100%">
                            <span>★★★★★</span>
                          </div>
                          <div class="empty-ratings">
                            <span>★★★★★</span>
                          </div>
                        </div>
                      </div>
                      <span class="rating-text">(80+ Clients Reviews)</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 order-lg-1">
                <div class="testimonial-wrapper wow fadeInUp" data-wow-delay=".5s">
                  <div class="swiper testimonial-slider-2">
                    <div class="swiper-wrapper">
                      {reviews.map((review)=>(
                                  <div class="swiper-slide">
                        <div class="testimonial-item">
                          <span class="quote-icon"><i class="tji-quote"></i></span>
                          <div class="desc">
                            <p>{review.data.review}</p>
                          </div>
                          <div class="testimonial-author">
                            <div class="author-inner">
                              <div class="author-img">
                                <img src="assets/images/testimonial/client-1.webp" alt="">
                              </div>
                              <div class="author-header">
                                <h4 class="title">{review.data.clientName}</h4>
                                <span class="designation">{review.data.clientDesignation}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      ))}
            
                
                    </div>
                    <div class="swiper-pagination-area"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- end: Testimonial Section -->

        <!-- start: Team Section -->
        <section class="tj-team-section-3 section-gap section-gap-x">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="sec-heading text-center">
                  <span class="sub-title wow fadeInUp" data-wow-delay=".3s"><i class="tji-box"></i> Meet Our Team</span>
                  <h2 class="sec-title title-anim">Success <span>Stories</span> Fuel our Innovation.</h2>
                </div>
              </div>
            </div>
            <div class="row leftSwipeWrap">

              {data.about.team.map((team)=>{
                   <div class="col-lg-3 col-sm-6">
                <div class="team-item left-swipe">
                  <div class="team-img">
                    <div class="team-img-inner">
                      <img src="assets/images/team/team-1.webp" alt="">
                    </div>
                    <div class="social-links">
                      <ul>
                        <li><a href="https://www.facebook.com/" target="_blank"><i
                              class="fa-brands fa-facebook-f"></i></a>
                        </li>
                        <li><a href="https://www.instagram.com/" target="_blank"><i
                              class="fa-brands fa-instagram"></i></a>
                        </li>
                        <li><a href="https://x.com/" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/" target="_blank"><i
                              class="fa-brands fa-linkedin-in"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="team-content">
                    <h4 class="title"><a href="team-details.html">{team.name}</a></h4>
                    <span class="designation">{team.position}</span>
                    <a class="mail-at" href="mailto:info@bexon.com"><i class="tji-at"></i></a>
                  </div>
                </div>
              </div>

              })}
           
            
            
            </div>
          </div>
          <div class="bg-shape-1">
            <img src="assets/images/shape/pattern-2.svg" alt="">
          </div>
          <div class="bg-shape-2">
            <img src="assets/images/shape/pattern-3.svg" alt="">
          </div>
        </section>
        <!-- end: Team Section -->

        <!-- start: Faq Section -->
        <section class="tj-faq-section section-gap">
          <div class="container">
            <div class="row justify-content-between">
              <div class="col-lg-4">
                <div class="content-wrap">
                  <div class="sec-heading">
                    <span class="sub-title wow fadeInUp" data-wow-delay=".3s"><i class="tji-box"></i>Common
                      Questions</span>
                    <h2 class="sec-title title-anim">Need <span>Help?</span> Start Here...</h2>
                  </div>
                  <p class="desc wow fadeInUp" data-wow-delay=".6s">{data.about.callToAction.text}</p>
                  <div class="wow fadeInUp" data-wow-delay=".8s">
                    <a class="tj-primary-btn" href="contact.html">
                      <span class="btn-text"><span>Request a Call</span></span>
                      <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="accordion tj-faq" id="faqOne">
                  {data.about.faqs.map((faq, index)=>(
                           <div class="accordion-item active wow fadeInUp" data-wow-delay=".3s">
                    <button class=" faq-title" type="button" data-bs-toggle="collapse" data-bs-target="#faq-1"
                      aria-expanded="true">{faq.question}</button>
                    <div id="faq-1" class="collapse show" data-bs-parent="#faqOne">
                      <div class="accordion-body faq-text">
                        <p>{faq.answer}</p>
                      </div>
                    </div>
                  </div>
             

                  ))}
           
             
             
             
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- end: Faq Section -->

        <!-- start: Cta Section -->
        <section class="tj-cta-section">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="cta-area">
                  <div class="cta-content">
                    <h2 class="title title-anim">Let’s Build Future Together.</h2>
                    <div class="cta-btn wow fadeInUp" data-wow-delay=".6s">
                      <a class="tj-primary-btn btn-dark" href="contact.html">
                        <span class="btn-text"><span>Get Started Now</span></span>
                        <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                      </a>
                    </div>
                  </div>
                  <div class="cta-img">
                    <img src="assets/images/cta/cta-bg.webp" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- end: Cta Section -->
      </main>

      <!-- start: Footer Section -->
   <Footer/>
      <!-- end: Footer Section -->
    </div>
  </div>
</BaseLayout>