---

import { getCollection } from 'astro:content';
import { Icon } from 'astro-icon/components';
import data from '../content/data.json';
import Image from 'astro/components/Image.astro';

import Logo from  "../../public/assets/images/logos/logo.png"      

const services = await getCollection('services');

const businsesses = await getCollection('businesses');



---



<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">

  <!-- Site Title -->
  <title>Sardar Group</title>

  <!-- Place favicon.ico in the root directory -->
  <link rel="shortcut icon" type="image/x-icon" href="/assets/images/logo.png">

  <!-- CSS here -->
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/font-awesome-pro.min.css">
  <link rel="stylesheet" href="/assets/css/animate.min.css">
  <link rel="stylesheet" href="/assets/css/bexon-icons.css">
  <link rel="stylesheet" href="/assets/css/nice-select.css">
  <link rel="stylesheet" href="/assets/css/swiper.min.css">
  <link rel="stylesheet" href="/assets/css/venobox.min.css">
  <link rel="stylesheet" href="/assets/css/odometer-theme-default.css">
  <link rel="stylesheet" href="/assets/css/meanmenu.css">
  <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
  <div class="body-overlay"></div>

  <!-- Preloader Start -->
  <!-- <div class="tj-preloader is-loading">
    <div class="tj-preloader-inner">
      <div class="tj-preloader-ball-wrap">
        <div class="tj-preloader-ball-inner-wrap">
          <div class="tj-preloader-ball-inner">
            <div class="tj-preloader-ball"></div>
          </div>
          <div class="tj-preloader-ball-shadow"></div>
        </div>
        <div id="tj-weave-anim" class="tj-preloader-text">Loading...</div>
      </div>
    </div>
    <div class="tj-preloader-overlay"></div>
  </div> -->
  <!-- Preloader end -->

  <!-- back to top start -->
  <div id="tj-back-to-top"><span id="tj-back-to-top-percentage"></span></div>
  <!-- back to top end -->

  <!-- start: Search Popup -->
  <div class="search-popup-overlay"></div>
  <!-- end: Search Popup -->

  <!-- start: Offcanvas Menu -->
  <div class="tj-offcanvas-area d-none d-lg-block">
    <div class="hamburger_bg"></div>
    <div class="hamburger_wrapper">
      <div class="hamburger_inner">
        <div class="hamburger_top d-flex align-items-center justify-content-between">
          <div class="hamburger_logo">
            <a href="/" class="mobile_logo">
              <Image src={Logo} alt="Logo" height="80" width="80">
            </a>
          </div>
          <div class="hamburger_close">
            <button class="hamburger_close_btn"><i class="fa-thin fa-times"></i></button>
          </div>
        </div>
        <div class="offcanvas-text">
          <p>{data.general.tagLine} </p>
        </div>
        <!-- <div class="hamburger-search-area">
          <h5 class="hamburger-title">Search Now!</h5>
          <div class="hamburger_search">
            <form method="get" action="index.html">
              <button type="submit"><i class="tji-search"></i></button>
              <input type="search" autocomplete="off" name="s" value="" placeholder="Search here...">
            </form>
          </div>
        </div> -->
        <div class="hamburger-infos">
          <h5 class="hamburger-title">Contact Info</h5>
          <div class="contact-info">
            <div class="contact-item">
              <span class="subtitle">Phone</span>
              <a class="contact-link" href={`tell:${data.contact.phone}`}>{data.contact.phone}</a>
            </div>
            <div class="contact-item">
              <span class="subtitle">Email</span>
              <a class="contact-link" href={`mailto:${data.contact.email}`}>{data.contact.email}</a>
            </div>
            <div class="contact-item">
              <span class="subtitle">Location</span>
              <span class="contact-link">{data.contact.location}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="hamburger-socials">
        <h5 class="hamburger-title">Follow Us</h5>
        <div class="social-links style-3">
          <ul>
            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
            </li>
            <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li><a href="https://x.com/" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- end: Offcanvas Menu -->

  <!-- start: Hamburger Menu -->
  <div class="hamburger-area d-lg-none">
    <div class="hamburger_bg"></div>
    <div class="hamburger_wrapper">
      <div class="hamburger_inner">
        <div class="hamburger_top d-flex align-items-center justify-content-between">
          <div class="hamburger_logo">
            <a href="/index" class="mobile_logo">
              <Image src={Logo} alt="Logo">
            </a>
          </div>
          <div class="hamburger_close">
            <button class="hamburger_close_btn"><i class="fa-thin fa-times"></i></button>
          </div>
        </div>
        <div class="hamburger_menu">
          <div class="mobile_menu"></div>
        </div>
        <div class="hamburger-infos">
          <h5 class="hamburger-title">Contact Info</h5>
          <div class="contact-info">
            <div class="contact-item">
              <span class="subtitle">Phone</span>
              <a class="contact-link" href={`tel:${data.contact.phone}`}>{data.contact.phone}</a>
            </div>
            <div class="contact-item">
              <span class="subtitle">Email</span>
              <a class="contact-link" href=`mailto:${data.contact.email}`>{data.contact.email}</a>
            </div>
            <div class="contact-item">
              <span class="subtitle">Location</span>
              <span class="contact-link">{data.contact.location}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="hamburger-socials">
        <h5 class="hamburger-title">Follow Us</h5>
        <div class="social-links style-3">
          <ul>
            <li><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
            </li>
            <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li><a href="https://x.com/" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- end: Hamburger Menu -->

  <!-- start: Header Area -->
  <header class="header-area header-1 header-absolute  section-gap-x">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="header-wrapper">
            <!-- site logo -->
            <div style="display:flex; justify-content:center; align-items:center">
              <a class="logo" href="/"><Image src={Logo} height="100" alt=""></a>
                <div style="display:flex; flex-direction: column;">
              <div style="font-weight: bold;">{data.general.companyName}</div>
               <div style="font-weight: thin;">{data.general.listedName}</div>
               </div>
            </div>

            <!-- navigation -->
            <div class="menu-area d-none d-lg-inline-flex align-items-center">
              <nav id="mobile-menu" class="mainmenu">
                <ul>
                 
       
                  <li class="has-dropdown"><a href="#">Services</a>
                    <ul class="sub-menu  mega-menu-service">
                       {services.map((service)=>(
                           <li> <a class="mega-menu-service-single" href={"/service/"+service.id}> <span
                            class="mega-menu-service-icon">
                           <Icon name={service.data.IconImage} size={24} class="text-blue-500 mr-2" />
                          </span> <span class="mega-menu-service-title">{service.data.name}</span> <span
                            class="mega-menu-service-nav"><i class={service.data.IconImage}></i><i
                              class="tji-arrow-right-long"></i></span></a></li>
                     
                       ))}
                      

                    </ul>
                  </li>
                  <li ><a href="/portfolio">Portfolio</a>
                 
                  </li>
                  <li ><a href="/about-us">About Us</a>
                 
                  </li>
                  <li><a href="/contact">Contact</a></li>
                   <li><a href="/sister-concerns">Sister Concerns</a></li>
                </ul>
              </nav>
            </div>

            <!-- header right info -->
            <div class="header-right-item d-none d-lg-inline-flex">
              <div class="header-search">
                <button class="search">
                  <i class="tji-search"></i>
                </button>
                <button type="button" class="search_close_btn">
                  <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17 1L1 17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path d="M1 1L17 17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>
                </button>
              </div>
              <div class="header-button">
                <a class="tj-primary-btn" href="contact.html">
                  <span class="btn-text"><span>Let’s Talk</span></span>
                  <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                </a>
              </div>
              <div class="menu_bar menu_offcanvas d-none d-lg-inline-flex">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>

            <!-- menu bar -->
            <div class="menu_bar mobile_menu_bar d-lg-none">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Search Popup -->
    <div class="search_popup">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-8">
            <div class="tj_search_wrapper">
              <div class="search_form">
                <form action="#">
                  <div class="search_input">
                    <div class="search-box">
                      <input class="search-form-input" type="text" placeholder="Type Words and Hit Enter" required>
                      <button type="submit">
                        <i class="tji-search"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- end: Header Area -->

  <!-- start: Header Area -->
  <header class="header-area header-1 header-duplicate header-sticky  section-gap-x">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="header-wrapper">
            <!-- site logo -->
             <div style="display:flex; justify-content:center; align-items:center">
              <a class="logo" href="/"><Image src={Logo} height="100" alt=""></a>
                <div style="display:flex; flex-direction: column;">
              <div style="font-weight: bold;">{data.general.companyName}</div>
               <div style="font-weight: thin;">{data.general.listedName}</div>
               </div>
            </div>

            <!-- navigation -->
            <div class="menu-area d-none d-lg-inline-flex align-items-center">
              <nav class="mainmenu">
                <ul>
               
               
                  <li class="has-dropdown"><a href="#">Services</a>
                    <ul class="sub-menu  mega-menu-service">
                      {services.map((service)=>(
                             <li> <a class="mega-menu-service-single" href={"/service/"+service.id}> <span
                            class="mega-menu-service-icon">
                            <i class="tji-service-1"></i>
                          </span> <span class="mega-menu-service-title">{service.data.name}</span> <span
                            class="mega-menu-service-nav"><i class="tji-arrow-right-long"></i><i
                              class="tji-arrow-right-long"></i></span></a></li>

                      ))}
                 
                  
                     
                    

                    </ul>
                  </li>
                  <li ><a href="/portfolio">Portfolio</a>
                 
                  </li>
                    <li ><a href="/about-us">About Us</a>
                 
                  </li>
                
                  <li><a href="/contact">Contact</a></li>
                    <li><a href="/contact">Sister Concerns</a></li>
                </ul>
              </nav>
            </div>

            <!-- header right info -->
            <div class="header-right-item d-none d-lg-inline-flex">
              <div class="header-search">
                <button class="search">
                  <i class="tji-search"></i>
                </button>
                <button type="button" class="search_close_btn">
                  <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17 1L1 17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path d="M1 1L17 17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>
                </button>
              </div>
              <div class="header-button">
                <a class="tj-primary-btn" href="contact.html">
                  <span class="btn-text"><span>Let’s Talk</span></span>
                  <span class="btn-icon"><i class="tji-arrow-right-long"></i></span>
                </a>
              </div>
              <div class="menu_bar menu_offcanvas d-none d-lg-inline-flex">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>

            <!-- menu bar -->
            <div class="menu_bar mobile_menu_bar d-lg-none">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Search Popup -->
    <div class="search_popup">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-8">
            <div class="tj_search_wrapper">
              <div class="search_form">
                <form action="#">
                  <div class="search_input">
                    <div class="search-box">
                      <input class="search-form-input" type="text" placeholder="Type Words and Hit Enter" required>
                      <button type="submit">
                        <i class="tji-search"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- end: Header Area -->

  <slot/>


  <!-- JS here -->
  <script src="/assets/js/jquery.min.js" is:inline></script>
  <script src="/assets/js/bootstrap.bundle.min.js" is:inline></script>
  <script src="/assets/js/gsap.min.js" is:inline></script>
  <script src="/assets/js/ScrollSmoother.js" is:inline></script>
  <script src="/assets/js/gsap-scroll-to-plugin.min.js" is:inline></script>
  <script src="/assets/js/gsap-scroll-trigger.min.js" is:inline></script>
  <script src="/assets/js/gsap-split-text.min.js" is:inline></script>
  <script src="/assets/js/jquery.nice-select.min.js" is:inline></script>
  <script src="/assets/js/swiper.min.js" is:inline></script>
  <script src="/assets/js/odometer.min.js" is:inline></script>
  <script src="/assets/js/venobox.min.js" is:inline></script>
  <script src="/assets/js/appear.min.js" is:inline></script>
  <script src="/assets/js/wow.min.js" is:inline></script>
  <script src="/assets/js/meanmenu.js" is:inline></script>
  <script src="/assets/js/main.js" is:inline></script>
</body>

</html>